@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #000000;
  font-family: "Poppins", sans-serif;
}
.hidden{
    overflow: hidden;
}
.centrado{
    height:100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.swiper-button-prev::after {
    font-size: 25px;

}
.swiper-button-next::after{
 font-size: 25px;
}
 .swiper-button-next {
    color:  #DB241B;
}
 .swiper-button-prev {
    color:  #DB241B;
}
 .swiper-pagination-bullet {
    background-color: #D3D2D2;
    opacity: 1;
}
 .swiper-pagination-bullet-active {
    background-color: #DB241B;
   
}


.menu{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
 }
.navbar{
    display: flex;
 }
.menu-1{
    margin-right: 180px;
}

.menu-2{
    margin-left: 180px;
    display: flex;
    align-items: center;
}
.logo-1{
    width: 0;

}
.logo-2{
    width: 150px;
}
.socials{
    display: flex;
}
.social{
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #DB241B;
    border-radius: 50%;
}
.social:hover{
    background-color: #DB241B;

}
.social img {
    margin: 8px 0 0 10px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
}
.menu .navbar ul li a:hover{
    color: #DB241B;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
    
}
.menu label{
    cursor: pointer;
    display: none;
    
}
.header-content{
    margin-top: 200px;
    padding-bottom: 50px;
}
.slider {
    display: flex;
    align-items: center;
}
.slider-txt {
   margin-left: 85px;
   width: 50%;
}
.slider-txt h1 {
    font-size: 70px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 800;

}
.slider-txt p {
    font-size: 18px;
    color: #A7A7A7;

}
.botones {
    margin-top: 50px;

}

.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid #DB241B;
    color: #FFFFFF;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}
.btn-1:hover {
    background-color: #DB241B;
}

.slider-img {
    width: 50%;
}
.slider-img img {
    margin-right: 225px;
    width: 550px;
}

.products {
    background-color: #464646;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px;

}

.tabs label {
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: #A7A7A7;
    font-weight: 700;
    transition: background ease 0.2s;
}
.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
}
.tabs input[type="radio"]{
   display: none;
}
.tabs input[type="radio"]:checked + label {
    border-bottom: 2px solid #DB241B;
    color: #FFFFFF;
}
.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}
.product{
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 10px;

}
.product-img ñ{
    width: 50%;
    text-align: left;

}
.product-img h4{
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #555555;
    border-radius: 10px;
    margin-bottom: 50px;
}

.product-img img {
    width: 150px;
    height: 120px;
}
.product-txt {
    width: 50%;
    margin-left: 10px;
    text-align: left;
}
.product-txt h4 {
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;

}
.product-txt p {
    color: #A7A7A7;
    font-size: 16px;
    margin-bottom: 15px;
}
.product-txt span {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 800;
}
.info{
    padding: 100px 0px;
    display: flex;
    align-items: center;
}
.info-img {
    width: 50%;

}

.info-img img{
    width: 500px;
    height: 250px;
}
.info-txt {
    width: 50%;

}
.info-txt h2 {
    font-size: 75px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;

}
.info-txt p{
    font-size: 18px;
    color: #A7A7A7;
    margin-bottom: 50px;

}
.btn-2 {
    display: inline-block;
    padding: 15px 35px;
    background-color: #DB241B;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
}
.btn-2:hover {
    background-color: #ab1c15;
}

.horario {
    padding: 100px 0;
    background-color: #464646;
}
 
.horario-info h2 {
    font-size: 75px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.horario-txt {
    display: flex;
    justify-content: space-between;

}
.txt {
    color: #FFFFFF;

}
.txt h4 {
    font-size: 18px;
    color: #A7A7A7;
    margin-bottom: 30px;

}
.txt p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;

}

.map{
    filter: grayscale(100%) invert(92%) contrast(93%) ;
}
.footer {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;

}
.links h4{
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 25px;

}
.links ul li a{
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}
@media(max-width: 991px){
    .menu{
        padding: 20px;
        justify-content: space-between;
    }

    .menu-2 {
        display: none;
    }
    .logo-1 {
        width: 100px;
    }
    .logo-2 {
        width: 0px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }
    .menu .navbar ul li {
       width: 100%;
    }
    #menu:checked ~ .navbar {
      display: initial;
    }
    .header-content {
        padding: 30px;
        margin-top: 100px;

    }
    .slider {
        flex-direction: column;

    }
    .slider-txt{
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    .slider-txt h1 {
        font-size: 50px;
    }
    .slider-txt p {
        font-size: 16px;
    }
    .btn-1{
        padding: 10px 25px;
        font-size: 14px;

    }
    .slider-img {
        width: 100%;
        text-align: center;

    }
    .slider-img img {
        margin-right: 0px;
        width: 300px;
    }
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets, .swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -7px;
    }
    .tabs{
        padding: 50px 30px;

    }
    .tabs label{
        width: 33%;

    }
    .info {
        padding: 30px;
        flex-direction: column;

    }
    .info-img {
        width: 100%;
        text-align: center;
    }
    .info-img img {
        width: 400px;
        height: 200px;
        margin-bottom: 25px;

    }
    .info-txt {
      width: 100%;
      text-align: center;
    }
    .info-txt h2 {
        font-size: 50px;
    }
    .info-txt p {
        font-size: 16px;
    }
    .btn-1{
        font-size: 16px;
    }
    
    .horario {
        padding: 30px;
        text-align: center;

    }
    .horario-info h2 {
        font-size: 50px;
        margin-bottom: 15px;

    }
    .horario-txt {
        flex-direction: column;
    }
    .socials {
        justify-content: center;

    }
    .social img {
        margin: 8px 0 0 0;
    }
    .footer{
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }
    .links h4 {
        margin: 25px 0px 10px 0px;

    }

}












/* Styling for the main banner */
.main-banner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.portada-image {
    width: 100%;
    max-width: 1200px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

/* Add margin to move the portada image downwards */
.portada-container {
    margin-top: 60px; /* Adjust the margin-top as needed to move the image further down */
}

/* Increase margin to move the portada image further downwards */
.portada-container {
    margin-top: 120px; /* Increased margin-top to avoid header overlap */
}

/* Adjust layout to prevent header overlap with portada image */
body {
    padding-top: 150px; /* Push the entire content down, providing more space at the top */
}

.portada-container {
    margin-top: 0; /* Reset previous margin as padding on body is handling spacing */
}

/* Adjust layout to reduce spacing above the portada image */
body {
    padding-top: 100px; /* Reduce padding to move content slightly upwards */
}

.portada-container {
    margin-top: 0; /* Ensure no additional margin on the container itself */
}

/* Remove excess space below portada image */
.portada-container {
    margin-bottom: 0; /* Eliminate any bottom margin */
}

body {
    padding-top: 90px; /* Adjust padding to fine-tune position */
}

/* Final adjustments to remove excess space below portada image and refine layout */
.portada-container {
    margin-bottom: 0 !important; /* Ensure no bottom margin */
    padding-bottom: 0 !important; /* Ensure no padding below the image */
}

body {
    padding-top: 80px; /* Fine-tune top padding to position portada slightly higher */
}

main, .content, .page-wrapper {
    margin-top: 0 !important; /* Ensure no additional margin on main content */
    padding-top: 0 !important; /* Ensure no padding above the main content */
}

/* Final adjustments to remove any excess space and add footer styles */

.portada-container {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

body {
    padding-top: 70px; /* Further fine-tuning top padding */
}

main, .content, .page-wrapper, .portada-container img {
    margin-top: 0 !important; /* Ensure no extra space above main content */
    padding-top: 0 !important;
}

footer {
    margin-top: 0 !important; /* No extra margin above footer */
}

/* Ensure no spacing below portada image and correct final layout */

.portada-container {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

body {
    padding-top: 70px; /* Fine-tune top padding */
    margin-bottom: 0 !important;
}

main, .content, .page-wrapper, .portada-container img, footer {
    margin: 0 !important; /* Ensure no additional margin in any section */
    padding: 0 !important; /* Remove padding if any */
}

/* Justify text in the "Más Información" section and remove top space */
.more-info-section {
    text-align: justify; /* Apply justification to the text */
    padding-top: 20px; /* Reduce padding at the top to eliminate large spaces */
    margin-top: 0 !important; /* Ensure no additional top margin */
}

/* Justify text and eliminate excess space in "Más Información" section */
.more-info-section {
    text-align: justify !important; /* Ensure justification is applied to text */
    margin-top: 0 !important; /* Remove any top margin */
    padding-top: 0 !important; /* Remove any top padding */
}

#mission, #quienes-somos {
    text-align: justify !important; /* Apply justification to these specific sections */
    margin-top: 0 !important; /* Remove any top margin */
    padding-top: 0 !important; /* Ensure no padding at the top */
}

/* Justify text in "Quiénes Somos" section and remove any excessive space */
.quienes-somos-section, .more-info-section {
    text-align: justify; /* Ensure text is justified */
    margin-top: 0 !important; /* Remove any top margin */
    padding-top: 0 !important; /* Remove any top padding */
}

.mision-section {
    margin-top: 20px; /* Small space between sections */
    text-align: justify; /* Justify text for consistency */
}

/* Aggressive margin and padding adjustments and text justification for "Quiénes Somos" and "Misión" */

.quienes-somos-section, .mision-section {
    text-align: justify; /* Justify the text content */
    margin-top: 0 !important; /* Forcefully remove top margin */
    padding-top: 0 !important; /* Forcefully remove top padding */
    margin-bottom: 20px; /* Small spacing after the section */
}

/* Ensure justification and remove unwanted space in the "Quiénes Somos" and "Misión" sections */

.quienes-somos-section, .mision-section {
    text-align: justify; /* Force text justification */
    margin-top: 0 !important; /* Forcefully remove any top margin */
    padding-top: 0 !important; /* Forcefully remove any top padding */
    padding-bottom: 0 !important; /* Remove any bottom padding */
}

.quienes-somos-section p, .mision-section p {
    margin: 0 !important; /* Remove any internal paragraph margins */
}

/* Force justification for all paragraph text in the "Quiénes Somos" and "Misión" sections */
.quienes-somos-section p, .mision-section p {
    text-align: justify !important; /* Force justification */
}
